html{
	font-size: 30px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.slideshow{
	position: relative;
	width: 70vw;
	height: 100vh;
}

.slideshow__slides{
	width: 100%;
	height: 100%; /* of the closest parent with defined position (here .slideshow)*/
	
}

.slideshow__slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; /* of the closest parent with defined position (here .slideshow__slides)*/
	display: none;
}

.slideshow__slide--visible{
	display: block;
}

.slideshow__img{
	width: 100%;
	height: 100%;
	object-fit: cover; /* iso background-size: cover; */
	
}

.slideshow__controls{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.slideshow__control-button {
	padding: 0.5rem;
}
.slideshow__control-button:hover{
	background-color: darkgreen;
	opacity: 30%;
}

.slideshow__caption{
	position: absolute;
	top: 100%;
	left: 0;
}
